name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Build
        run: zig build -Doptimize=ReleaseSafe

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lullaby-windows
          path: zig-out/
          if-no-files-found: error
